.livecode {
    width:100%;
    height:100%;
    margin: 1.5em 0;
    border: 1px solid #c9c9c9;
}

.CodeMirror {
    height: auto;
    background: #f8f8f8;
    font-family: var(--font-stack--monospace);
    font-size: var(--code-font-size);
    line-height: 1.5;
    padding: .625rem .875rem;
}

.CodeMirror-focused {
    /* background-color: rgba(var(--pst-color-preformatted-background),1) !important; */
    margin: 0px;
}

.CodeMirror pre {
    box-shadow: none;
}

.CodeMirror-hscrollbar {
    bottom: 16px;
}

.lm_goldenlayout {
    background: #f8f8f8;
}

.lm_content {
    background: none;
    border-radius: 0.4em;
    border: none;
}

.lm_splitter {
    opacity: 0.3;
}